---
import Instagram from "../../../public/img/icons/Instagram.astro";
import TikTok from "../../../public/img/icons/TikTok.astro";
import LinkedIn from "../../../public/img/icons/LinkedIn.astro";
import Gmail from "../../../public/img/icons/Gmail.astro";
import WhatsApp from "../../../public/img/icons/WhatsApp.astro";
---

<footer class="bg-black text-white py-4">
  <div class="max-w-[60%] container mx-auto flex justify-between items-center">
    <p class="w-1/2 text-center">© 2024 Josefina Videau. Todos los derechos reservados.</p>
    <div class="w-1/2 flex justify-center space-x-4">
      <a href="https://www.instagram.com/nutri.videau/" target="_blank" rel="noopener noreferrer" class="transform transition-transform duration-200 hover:scale-125">
        <Instagram />
      </a>
      <a href="https://www.tiktok.com/@nutri.videau" target="_blank" rel="noopener noreferrer" class="transform transition-transform duration-200 hover:scale-125">
        <TikTok />
      </a>
      <a href="https://www.linkedin.com/in/josefina-videau-b5815a231/" target="_blank" rel="noopener noreferrer" class="transform transition-transform duration-200 hover:scale-125">
        <LinkedIn />
      </a>
      <a href="mailto:videaujosefina@gmail.com" target="_blank" rel="noopener noreferrer" class="transform transition-transform duration-200 hover:scale-125">
        <Gmail />
      </a>
      <a href="https://wa.me/542236210282" target="_blank" rel="noopener noreferrer" class="transform transition-transform duration-200 hover:scale-125">
        <WhatsApp />
      </a>
    </div>
  </div>
</footer>


