---
---

<a href="https://wa.me/542236210282" class="fixed bottom-0 right-0 mb-4 mr-4 max-w-52 bg-green-600 text-white text-center p-3 shadow-md z-50 rounded-2xl hover:scale-105 transition duration-300" target="_blank" rel="noopener noreferrer">
  <p class="text-lg font-semibold">Agenda tu turno!</p>
</a>


