---
import MainImgRelative from "../components/MainImgRelative.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Consultame">
  <main>
    <MainImgRelative imageSrc="/img/main-section/banner.jpg" alt="Banner Principal"/>

    <article class="flex max-w-[60%] mx-auto my-12 prose gap-24">
      <div class="flex-1 flex justify-start">
        <img src="/img/main-section/foto-principal.jpg" alt="Foto principal" class="w-80 pt-4">
      </div>
      <div class="flex-1">
        <h2>Mi lugar de trabajo...</h2>
        <p>Brindo consultas presenciales en mi consultorio de Palermo y consultas online a través de videollamada.</p>
        <p>Lo que promovemos es el cambio de hábitos, que tiene como objetivo mejorar tanto nuestra salud y nuestra composición corporal, como nuestro vínculo con la comida y con nuestro cuerpo. No se trata de hacer dieta ni de pasar hambre, se trata de aprender a comer teniendo en cuenta tanto nuestras necesidades y objetivos, como nuestras ganas del momento.</p>
        <p>Armamos planes alimentarios para personas que llevan una alimentación omnívora, vegetariana o vegana.</p>
      </div>
    </article>

    <article class="flex flex-row-reverse max-w-[60%] mx-auto my-12 prose gap-24">
      <div class="flex-1 flex justify-end">
        <img src="/img/main-section/foto-principal.jpg" alt="Foto principal" class="w-80 pt-4">
      </div>
      <div class="flex-1">
        <h2>Mi lugar de trabajo...</h2>
        <p>Brindo consultas presenciales en mi consultorio de Palermo y consultas online a través de videollamada.</p>
        <p>Lo que promovemos es el cambio de hábitos, que tiene como objetivo mejorar tanto nuestra salud y nuestra composición corporal, como nuestro vínculo con la comida y con nuestro cuerpo. No se trata de hacer dieta ni de pasar hambre, se trata de aprender a comer teniendo en cuenta tanto nuestras necesidades y objetivos, como nuestras ganas del momento.</p>
        <p>Armamos planes alimentarios para personas que llevan una alimentación omnívora, vegetariana o vegana.</p>
      </div>
    </article>
  </main>
</Layout>