---
import Layout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

const mainArticles = await getCollection("main-sections");

mainArticles.sort((a: { data: { order: number; }; }, b: { data: { order: number; }; }) => {
  const orderA = a.data.order || 0;
  const orderB = b.data.order || 0;
  return orderA - orderB;
});

let isLeftAligned = true;
---

<Layout title="Nutricionista">
  <main>
    <section>
      <img src="/src/img/main-section/banner.jpg" alt="Banner principal de la pagina" />
    </section>

    <section class="flex flex-col items-center mt-20">
      {mainArticles.map(async (article: { data: any; }) => {
        const { data } = article;
        const { title, img } = data;

        const { Content } = await render(article);

        const articleClass = `flex max-w-[70%] mx-auto mb-16 items-start gap-16 ${isLeftAligned ? 'flex-row-reverse' : ''}`;

        isLeftAligned = !isLeftAligned;

        return (
          <article class={articleClass}>
            <div class="flex flex-col w-full prose">
              <h2 class="text-3xl mb-4">{title}</h2>
              <Content />
            </div>

            <img src={`/src/img/main-section/${img}`} alt={title} class="w-80" />
          </article>
        );
      })}
    </section>
  </main>
</Layout>
