---
---

<header class="p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo o nombre de la nutricionista -->
    <a href="/" class="text-green-600 text-2xl font-bold">
      Nutricionista
    </a>

    <!-- Menú de navegación -->
    <nav>
      <ul class="flex space-x-6 font-medium">
        <li class="transition duration-300 hover:scale-110"><a href="/" class="text-green-600">Inicio</a></li>
        <li class="transition duration-300 hover:scale-110"><a href="/sobre-mi" class="text-green-600">Sobre Mí</a></li>
        <li class="transition duration-300 hover:scale-110"><a href="/tienda" class="text-green-600">Tienda</a></li>
        <li class="transition duration-300 hover:scale-110"><a href="/consulta" class="text-green-600">Consultorio</a></li>
        <li class="transition duration-300 hover:scale-110"><a href="/contacto" class="text-green-600">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
