---
interface Props {
	title: string;
}

const { title } = Astro.props;
const name = 'Josefina Videau';

import Header from "../components/astro/Header.astro"
import Turno from "../components/astro/Turno.astro";
import Footer from "../components/astro/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href="img/foto-principal.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{name} - {title}</title>
	</head>
	<body>
		<Header />
		<Turno />
		<slot />
		<Footer />
	</body>
</html>
